<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <p-tabMenu class="centerWrapper" (ngModel)="role" *ngIf="role=='admin'" [model]="adminItems"
            [activeItem]="activeItem">
            <ng-template pTemplate="item" let-item>
                <a class="p-menuitem-link flex justify-content-between align-items-center p-3"
                    [routerLink]="'/' + item.label" routerLinkActive="active-link">
                    <div>
                        <span [class]="item.icon"></span>
                        <span> {{ item.label }}</span>
                    </div>
                    <div>
                        <span *ngIf="item.shortcut" [class]="item.shortcutClass">{{ item.shortcut }}</span>
                    </div>
                </a>

            </ng-template>
        </p-tabMenu>

        <p-tabMenu class="centerWrapper" (ngModel)="role" *ngIf="role=='user'" [model]="userItems"
            [activeItem]="activeItem">
            <ng-template pTemplate="item" let-item>
                <a class="p-menuitem-link flex justify-content-between align-items-center p-3"
                    [routerLink]="'/' + item.label" routerLinkActive="active-link">
                    <div>
                        <span [class]="item.icon"></span>
                        <span> {{ item.label }}</span>
                    </div>
                    <div>
                        <span *ngIf="item.shortcut" [class]="item.shortcutClass">{{ item.shortcut }}</span>
                    </div>
                </a>
            </ng-template>
        </p-tabMenu>

    </ng-template>

    <ng-template pTemplate="right">
        <img src="assets/images/logo.png" alt="Image" height="50" class="mb-3">
    </ng-template>
</p-toolbar>



<router-outlet></router-outlet>