<p-table #dt [value]="gifts" [rows]="10" [paginator]="true"
    [globalFilterFields]="['name','description','price','category']" [(selection)]="selectedGift" [rowHover]="true"
    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Random</h5>
            <span class="grid p-fluid" class="col-12 md:col-4" class="p-inputgroup">

            </span>
            <span class="grid p-fluid" class="col-12 md:col-4" class="p-inputgroup">

            </span>

            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="searchText" (input)="dt.filterGlobal(searchText, 'contains')"
                    placeholder="Search..." />
            </span>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>

            <th pSortableColumn="giftName">Name <p-sortIcon field="giftName"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="ticketPrice">Price <p-sortIcon field="ticketPrice"></p-sortIcon></th>
            <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gift>
        <tr>
            <!-- <td>
                <p-tableCheckbox [value]="gift"></p-tableCheckbox>
            </td> -->
            <td>{{gift.name}}</td>
            <td>{{gift.description}}</td>
            <td>{{gift.ticketPrice | currency:'USD'}}</td>
            <td>{{gift.category}}</td>
            <td>
                <button pButton type="button" label="random" class="p-button-rounded p-button-success"
                    [disabled]="isRandom(gift.id)" (click)="randomGift(gift)"></button>
<p-progressSpinner *ngIf="blocked" class="custom-spinner" strokeWidth="4" fill="#FFFFFF" animationDuration="0.5s"></p-progressSpinner>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{gifts ? gifts.length : 0 }} gifts.
        </div>
    </ng-template>
</p-table>
