
<div class="card">
    <p-dataView #dv [value]="gifts" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
        [sortOrder]="sortOrder" layout="grid" >
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>

                    <input pInputText type="text" [(ngModel)]="searchText" (input)="dv.filter(searchText, 'contains')"
                        placeholder="Search..." />
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-gift pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-list-item">
                    <img [src]="'assets/images/' + gift.name+'.jpg'" alt="Image">
                    <div class="product-list-detail">

                        <div class="product-name">{{gift.name}}</div>
                        <div class="product-description">{{gift.description}}</div>
                        <i class="pi pi-tag product-category-icon"></i>
                        <span class="product-category">{{gift.category}}</span>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price">${{gift.ticketPrice}}</span>
                        <button pButton type="button" icon="pi pi-shopping-cart" 
                        class="p-button-danger" label="Add to Cart" (click)="addToCart(gift)"></button>
                        <!-- <p-button icon="pi pi-shopping-cart" label="Add to Cart" (click)="addToCart(gift)"></p-button> -->
                        <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-gift pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="product-grid-item card">

                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{gift.category}}</span>
                        </div>
                    </div>
                    <div class="product-grid-item-content">
                        <img [src]="'assets/images/' + gift.name+'.jpg'" alt="Image">
                        <div class="product-name">{{gift.name}}</div>
                        <div class="product-description">{{gift.description}}</div>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{gift.ticketPrice}}</span>
                        <button pButton type="button" icon="pi pi-shopping-cart" (click)="addToCart(gift)"></button>
                        <p-toast></p-toast>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>